
/*nút new */
.new-bucket-btn::part(label)::before {
    content: "+";
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 16px;
    border: 1px solid #666;
    border-radius: 50%;
    margin-right: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #0066cc;

}
    .bucket-item {
        color: #2c7be5;  /* xanh dương */
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }

    .folder-item {
        color: #f6a821;  /* vàng */
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }

    .file-item {
        color: #666666;  /* xám */
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }
